# Ignore Visual Studio build outputs
bin/
obj/
.vs/
*.user
*.suo
*.pdb
*.cache
*.log
*.dbmdl

# OS files
.DS_Store
Thumbs.db

# Runtime/IDE
*.exe
*.dll
*.nupkg
*.tmp

# Local library binaries
libs/SoulsFormats.dll

# JetBrains Rider
.idea/
